.item {
  @include flex(column, space-between, start);
  gap: 1.4rem;
  margin-bottom: 4rem;

  &.out-cart {
    h3 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2rem;
      color: $brand-text;
    }

    .image-box {
      position: relative;
      width: 28rem;
      height: 38.6rem;
      overflow: hidden;
      cursor: pointer;

      img {
        object-fit: cover;
        width: 100%;
        @include transition(0.3s);
      }
      &:hover {
        img {
          transform: scale(1.05) rotate(0.6deg);
        }
      }
      .new {
        position: absolute;
        top: 1.4rem;
        left: 1.4rem;
        background-color: $brand-yellow;
        border-radius: 0.4rem;
        padding: 0.45rem 0.95rem;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.5rem;
        color: $brand-text;
      }
      .discount-tag {
        position: absolute;
        top: 1.4rem;
        right: 1.4rem;
        background-color: $brand-red;
        border-radius: 0.4rem;
        padding: 0.45rem 0.95rem;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.5rem;
        color: $brand-text;
      }
    }
    .info {
      @include flex(column, space-between, start);
      gap: 1.3rem;
      .price-info {
        @include flex(row, space-between, center);
        gap: 2rem;

        span,
        del {
          font-family: "Inter";
          font-style: normal;
          font-size: 1.8rem;
          line-height: 2.2rem;
        }
        span {
          font-weight: 700;
          color: $brand-text;
        }
        del {
          font-family: "Inter";
          font-weight: 400;
          text-decoration-line: line-through;
          color: #8a8a8a;
        }
      }
    }

    .add-btn {
      width: 100%;
      padding: 1rem;
      margin: 1rem 0;
      text-align: center;
      background-color: $brand-black;
      color: #fff;
      @include flex(row, center, center);
      gap: 1rem;
      @include transition(0.2s);
      &:hover {
        background-color: #292d39;
      }
    }
  }

  &.in-cart {
    @include flex(row, space-between, start);
    padding: 2rem 0;
    border-bottom: 1px solid rgba(96, 104, 125, 0.3);
    position: relative;
    .image-box {
      width: 100%;
      max-width: 13rem;
      height: 100%;
      overflow: hidden;
      img {
        object-fit: cover;
        object-position: center;
      }
    }
    .info {
      @include flex(column, space-between, start);
      width: 100%;
      gap: 2.25rem;
      .product-info {
        h3 {
          font-size: 1.5rem;
        }
        .del-btn {
          position: absolute;
          right: -1.1rem;
          top: 1.5rem;
          color: $del-btn;
          cursor: pointer;
          padding: 1rem;
          @include transition(0.2s);
          &:hover {
            transform: scale(1.15);
          }
        }
        .size-color {
          @include flex(column, space-between, start);
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 1.7rem;
          color: #60687d;
          margin: 1rem 0;
        }
      }
      .price-info {
        width: 100%;
        @include flex(row, space-between, center);
        .quantity {
          border: 1px solid rgba(#60687d, 0.5);
          padding: 0.7rem;
          @include flex(row, space-between, center);
          gap: 2rem;
          .angle {
            font-weight: 400;
            cursor: pointer;
            padding: 0.5rem;
          }
        }

        .value {
          font-weight: 700;
          font-size: 1.6rem;
          line-height: 1.9rem;
          color: $brand-black;
        }
      }
    }
  }
}
